.find-game {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-left: 5px;
}

.info p {
    font-size: xx-large;
    margin-bottom: 2%;
    margin-left: 5%;
}

.info hr {
    margin-bottom: 2%;
    margin-right: 1%;
}

.lobby-list-object {
    background-color: rgb(195, 195, 195);
    display: flex;
    flex-wrap: nowrap;
    font-size: xx-large;
    height: 60px;
    margin-bottom: 2%;
    margin-right: 1%;
    transition: all .2s;
    border-radius: 10px;
}

.lobby-list-object:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, .6);
    transform: translate(-5px, -5px);
}

.lobby-list-object label {
    align-self: center;
}

.player-number {
    display: flex;
    margin: 0 2%;
}

.pass-img {
    transform: rotate(90deg);
    margin-left: 1%;
}

.name-label {
    margin-left: 2%;
    margin-right: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.progress-label {
    white-space: nowrap;
    margin-left: 2%;
}